<launch>    
    <!-- Configurable args -->
    <arg name="turtlebot3_model"    default="$(env TURTLEBOT3_MODEL)"/>
    <arg name="costmap_common_file" default="$(find maze_solver)/param/my_costmap_common_params.yaml"/>
    <arg name="costmap_global_file" default="$(find maze_solver)/param/my_global_costmap_params.yaml"/>
    <arg name="costmap_local_file"  default="$(find maze_solver)/param/my_local_costmap_params.yaml"/>
    <arg name="planner_file"        default="$(find maze_solver)/param/my_dwa_local_planner_params.yaml"/>
    <arg name="move_base_file"      default="$(find maze_solver)/param/my_move_base_params.yaml"/>
    
    <!-- move_base node -->
    <node pkg="move_base" name="move_base" type="move_base" output="screen">
        <!-- Configurable -->
        <rosparam file="$(arg costmap_common_file)" command="load" ns="global_costmap"/>
        <rosparam file="$(arg costmap_common_file)" command="load" ns="local_costmap"/>
        <rosparam file="$(arg costmap_global_file)" command="load"/>
        <rosparam file="$(arg costmap_local_file)" command="load"/>
        <rosparam file="$(arg planner_file)" command="load"/>
        <rosparam file="$(arg move_base_file)" command="load"/>
        <!-- Non-configurable -->
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        <remap from="cmd_vel" to="/cmd_vel"/>
        <remap from="odom" to="odom"/>
    </node>
</launch>
